html, body, header, ul, li, div, span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  background: transparent;
}

.calendar {
  display: block;
  height: 720px;
  width: 900px;
  margin: 10px 0px;
}

.hours-container {
  float: left;
  height: 720px;
  margin-top: -7px;
  margin-right: 5px;
}

.hours-container li {
  list-style: none;
  padding-bottom: 11.9px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: right;
  height: 29.9px;
}

.events-container {
  background-color: #eee;
  width: 620px;
  min-height: 720px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
}

.events {
  position: relative;
}

.event {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-left: 5px solid #080;
  overflow: hidden;
}

.event-content {
  width: auto;
  padding: 5px;
}

.item {
  display: block;
  color: #080;
  font-weight: bold;
  font-size: 22px;
}

.location {
  display: block;
}

.graytext {
  color: #ccc;
  padding-left: 3px;
}
